@import "variables.scss";

@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Light.ttf");
    font-weight: $Light;
    font-size: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Regular.ttf");
    font-weight: $Regular;
    font-size: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-ExtraBold.ttf");
    font-weight: $ExtraBold;
    font-size: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-Bold.ttf");
    font-weight: $Bold;
    font-size: normal;
}
@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito/Nunito-SemiBold.ttf");
    font-weight: $SemiBold;
    font-size: normal;
}