header .navbar .container-fluid {
  background-color: white;
  padding: 20px 52px; }
  header .navbar .container-fluid .navbar-header .navbar-brand {
    font-family: "Nunito";
    font-size: 35px;
    color: #FF7D45;
    letter-spacing: -1.2px;
    font-weight: bolder;
    height: 100%;
    padding: 15px 24px; }
  header .navbar .container-fluid .navbar-nav li a {
    font-family: "Nunito";
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0.05px;
    font-weight: bold;
    padding: 15px 20px; }
    header .navbar .container-fluid .navbar-nav li a i {
      color: #4A4A4A; }
  header .navbar .container-fluid .navbar-nav li a:hover {
    color: #8a8a8a; }
  header .navbar .container-fluid .navbar-nav li .green-button {
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 20px; }
  header .navbar .container-fluid .navbar-nav li .green-button-o {
    padding-left: 35px;
    padding-right: 35px; }
  header .navbar .container-fluid .navbar-nav .dropdown ul > li > a {
    padding: 15px; }
  header .navbar .container-fluid .navbar-nav .active a {
    color: #FF7D45;
    background-color: transparent; }
