@import "variables.scss";

@media (max-width: 1325px) {
    header .navbar .container-fluid {
        padding: 20px 15px;
    }
    header .navbar .container-fluid .navbar-header .navbar-brand {
        padding: 15px 15px;
    }
    header .navbar .container-fluid .navbar-nav li a {
        padding: 15px 15px;
    }
}
@media (max-width: 1216px) {
    header .navbar .container-fluid .navbar-nav li a {
        padding: 15px 10px;
    }
}