@import "variables.scss";
@import "fonts.scss";
@import "header.scss";
@import "footer.scss";
@import "responsive.scss";

.green-button {
    background-color: $mainGreen;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .14);
}
.green-button-o {
    background-color: white;
    border: 1px solid $mainGreen;
    border-radius: 5px;
}