@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Light.ttf");
  font-weight: 300;
  font-size: normal; }

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Regular.ttf");
  font-weight: normal;
  font-size: normal; }

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-ExtraBold.ttf");
  font-weight: bolder;
  font-size: normal; }

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
  font-size: normal; }

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 500;
  font-size: normal; }

header .navbar .container-fluid {
  background-color: white;
  padding: 20px 52px; }
  header .navbar .container-fluid .navbar-header .navbar-brand {
    font-family: "Nunito";
    font-size: 35px;
    color: #FF7D45;
    letter-spacing: -1.2px;
    font-weight: bolder;
    height: 100%;
    padding: 15px 24px; }
  header .navbar .container-fluid .navbar-nav li a {
    font-family: "Nunito";
    font-size: 16px;
    color: #4A4A4A;
    letter-spacing: 0.05px;
    font-weight: bold;
    padding: 15px 20px; }
    header .navbar .container-fluid .navbar-nav li a i {
      color: #4A4A4A; }
  header .navbar .container-fluid .navbar-nav li a:hover {
    color: #8a8a8a; }
  header .navbar .container-fluid .navbar-nav li .green-button {
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 20px; }
  header .navbar .container-fluid .navbar-nav li .green-button-o {
    padding-left: 35px;
    padding-right: 35px; }
  header .navbar .container-fluid .navbar-nav .dropdown ul > li > a {
    padding: 15px; }
  header .navbar .container-fluid .navbar-nav .active a {
    color: #FF7D45;
    background-color: transparent; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #353636;
  padding: 103px 0; }
  footer .share-block {
    letter-spacing: 5px; }
  footer h2 {
    font-family: "Nunito";
    font-size: 40px;
    font-weight: bolder;
    color: #FF7D45;
    letter-spacing: -1.2px;
    margin: 0; }
  footer h4 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.05px;
    line-height: 16px;
    margin: 0 0 15px; }
  footer p {
    color: white;
    font-family: "Nunito";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05px;
    line-height: 19px;
    margin: 0; }
  footer .sub-footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0; }
    footer .sub-footer p {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.04px; }
    footer .sub-footer span {
      font-family: "Nunito";
      font-weight: bold;
      font-size: 14px;
      color: white;
      letter-spacing: 0.04px;
      line-height: 19px; }

@media (max-width: 1325px) {
  header .navbar .container-fluid {
    padding: 20px 15px; }
  header .navbar .container-fluid .navbar-header .navbar-brand {
    padding: 15px 15px; }
  header .navbar .container-fluid .navbar-nav li a {
    padding: 15px 15px; } }

@media (max-width: 1216px) {
  header .navbar .container-fluid .navbar-nav li a {
    padding: 15px 10px; } }

.green-button {
  background-color: #59CA6D;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.14); }

.green-button-o {
  background-color: white;
  border: 1px solid #59CA6D;
  border-radius: 5px; }
